.informationsContainer {
  display: flex;
  flex-direction: column;

  margin-left: 10rem;
  margin-top: 3rem;
  width: 25rem;
  height: 25rem;

  background: var(--gray-400);
  border: 2px solid #6833E4;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #6833E4;
  border-radius: 20px;
}

.informations {
  padding: 1.5rem 1.5rem;
  text-align: center;
  border-bottom: 2px solid var(--gray-200);
}

.informations strong {
  font-family: Roboto,sans-serif;
  font: 200;
}

.input {
  margin-top: 1rem;
  margin-left: 6.5rem;

  padding: 0.5rem 0.5rem;
  background: #38383C;
  border-radius: 5px;
  border: 2px solid var(--gray-200);

  outline: 0;
}

.input::placeholder {
  text-align: center;
  opacity: 20%;
}

.input:focus {
  background: var(--gray-800);
  border: 2px solid var(--purple-100);
  box-shadow: 0px 0px 5px var(--purple-100);
}

.buttonCalculator {
  background: var(--gray-400);
  color: var(--white-100);

  margin-top: 2rem;
  margin-left: 10rem;
  padding: 1rem 11rem 1rem 10.5rem;
  border-radius: 5px;
  border: 2px solid var(--gray-800);
}

.buttonCalculator:hover {
  border-bottom: 2px solid var(--purple-100);
  color: var(--white-font);
}